cmake_minimum_required(VERSION 3.2)

project(pluginname)
#set(PLUGIN_NAME pluginname) # defaults to CMAKE_PROJECT_NAME, if not set

set(SOURCES pluginname.cpp) # list of all files to be compiled
set(HEADERS pluginname.h) # list of all header files
set(MOC_HEADERS pluginname.h) # files to be moc-ified
#set(UIS pluginname.ui)

# Also you can use next commands instead of manual file enumeration:
#file(GLOB SOURCES "*.cpp")
#file(GLOB HEADERS "*.h")
#file(GLOB UIS "**.ui")

include_directories("${CMAKE_SOURCE_DIR}" "${CMAKE_BINARY_DIR}")

include("${CMAKE_SOURCE_DIR}/cmake/config.cmake")
include("${CMAKE_SOURCE_DIR}/translations/languages.cmake")
include("${CMAKE_SOURCE_DIR}/cmake/plugin.cmake")

find_package(Qt5 COMPONENTS Widgets Xml REQUIRED)
qt5_use_modules(${PLUGIN_NAME} Widgets Xml)

#install(DIRECTORY "resources/resource_folder" DESTINATION "${INSTALL_RESOURCES}")
